﻿/* CSS Document */
body {
	background-image: url(/images/bg.gif);
	margin:0px auto;
	}

.content{
	width: 983px;
	border:0px;
	background:url(/images/body-bg1.gif);
	margin-top:0px;
	top:0px;
	border:0px solid #000;
}

.top-logo{
	width:380px;
	background:url(/images/top-02.gif) #c5d2d6 no-repeat;
	vertical-align: top;
}
.top-logo a{
	text-decoration:none;
}
.top-logo a div{
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	color:#FFFFFF;
	letter-spacing:2px;
	width:160px;
	margin:5px 0px 0px 20px;
	padding:34px 0px 0px 10px;
	text-align:center;
	cursor:pointer;
	text-decoration:none;
}

.banner1{
	width:983px;
	height:19px;
	background:url(/images/top-01.gif) 0 0 no-repeat;
	margin:0px auto;
}

#banner3{
	width:983px;
	height:19px;
	margin:0px auto;
}
/*=================================1 Button Home================================*/

.menu {
	width:187px;
	height:44px;
	font-family:Verdana;
	font-size:11px;
	text-align:left;
}
.menu a {height:44px; text-decoration:none;}
.menu a:link, .menu a:visited {
	color: #002157;	display: block;
	padding-left:50px;
}

#option1 a:link, #option1 a:visited {background:url(/images/m-button-01.gif);  line-height:34px;}
#option1 a:hover, #option1 a:active {color:#ffffff; background:url(/images/m-button-01.gif) 0 -44px;}

#option2 a:link, #option2 a:visited {background:url(/images/m-button-04.gif); line-height:100%;}
#option2 a:hover,#option2 a:active {color:#ffffff; background:url(/images/m-button-04.gif) 0 -44px;}

#option3 {height:55px;}
#option3 a:link, #option3 a:visited {height:55px; background:url(/images/m-button-02.gif);}
#option3 a:hover,#option3 a:active {color:#ffffff; background:url(/images/m-button-02.gif) 0 -55px no-repeat;}

#option4 a:link, #option4 a:visited {height:42px; background:url(/images/m-button-03.gif); line-height:100%;}
#option4 a:hover,#option4 a:active {color:#ffffff; background:url(/images/m-button-03.gif) 0 -42px;}

.m1_r {width:150px;height: 34px;font-family:Verdana ;font-size : 11px;color: #94ccf2;	padding-left:50px;background:url(/images/m-button-01_d.gif) no-repeat; color:#000000;font-weight:bold; padding-top:10px}
.m2_r {width:150px;height: 52px;font-family:Verdana ;font-size : 11px;color: #94ccf2;	padding-left:50px;background:url(/images/m-button-04_d.gif) no-repeat; color:#000000;font-weight:bold; padding-top:2px}
.m3_r {width:150px;height: 52px;font-family:Verdana ;font-size : 11px;color: #94ccf2;	padding-left:50px;background:url(/images/m-button-02_d.gif) no-repeat; color:#000000;font-weight:bold; padding-top:2px}
.m4_r {
	width:150px;
	height:44px;
	font-family:Verdana;
	font-size:11px;
	color:#94ccf2;
	padding-left:50px;
	background:url(/images/m-button-03_d.gif) no-repeat;
	color:#000000;
	font-weight:bold;
	line-height:100%;
}

.submenu {width:187px; font-family:Verdana; font-size:11px; line-height:20px;}
.submenu a {height:26px; text-decoration:none; }
.submenu a:link, .submenu a:visited {
	color: #94ccf2;	display: block;
	background: url(/images/n-button-01.gif);
	padding-left:35px;}
.submenu a:hover,.submenu a:active {
	color: #ffffff;	background:url(/images/n-button-01.gif) 0 -26px;}

.thissubmenu {
	width:152px;
	height:26px;
	font-family:Verdana;
	font-size:11px;
	padding-left:35px;
	background:url(/images/n-button-01_r.gif) no-repeat;
	color:#000000;
	font-weight:bold;
	line-height:20px;
}

/*==========================Level 3 Tab Class=================================*/
.submenuBlock{
	width:743px;
	background-color:#547fb6;
	padding-left:2px;
}

.b1{
	padding-top:3px;
	padding-bottom:0px;
	padding-left:10px;
	padding-right:10px;
	height:30px;
	background:url(/images/tag-1.gif) 0 bottom no-repeat;
	font-weight:bold;
	font-family :Verdana;
	font-size : 12px;
	color:#000000
}

.b2{
	padding-top:3px;
	padding-bottom:0px;
	padding-left:10px;
	padding-right:10px;
	height:30px;
	background:url(/images/tag-2.gif) 0 bottom no-repeat;
	font-weight:bold;
	font-family:Verdana;
	font-size:12px;
	color:#b7e1f7;
	text-decoration:none;
	cursor:pointer;
}

.b2 a:link{font-family :Verdana;font-size : 12px;color:#b7e1f7;text-decoration:none;}
.b2 a:visited{font-family :Verdana;font-size : 12px;color:#b7e1f7;text-decoration:none;}
.b2 a:active{font-family :Verdana;font-size : 12px;color:#b7e1f7;text-decoration:none;}
.b2 a:hover{font-family :Verdana;font-size : 12px;color:#ffffff;position:relative;top:1px;left:1px}
/*==========================Level 3 Tab Class=================================*/
.Help thead{
	font-family:Verdana;
	font-size:12px;
	line-height:19px;
	font-weight:bold;
	color:#000000;
	background-image:url(/images/title-bg-2.gif);
	}
.Help tbody{
	font-family:Verdana;
	font-size:12px;
	background-color: #FFFFCC;
	text-align:left;
	line-height:150%;
}

.AiHintTitle{
	font-family :Verdana;
	font-size:11px;
	font-weight:bold;
	color:#000;
	text-align:center;
	float:left;
	margin:0px 4px 0px 2px;
	height:23px;
	line-height:23px;
}

.sitemap{
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#E6EDF0;
	border:1px solid #666;
}
.sitemap thead{
	text-align:center;
	color:#FFF;
	font-weight:bold;
	background-color:#4e6d95;
	font-size:12px;
	line-height:150%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #999;
}
.sitemap .head{
	text-align:center;
	color:#FFF;
	font-weight:bold;
	background-color:#4e6d95;
	font-size:12px;
	line-height:150%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #999;
}
.sitemap .desp{color:#333; background-color:#D0DDE3;}
.sitemap ul{padding-left:21px;margin:5px;}
.sitemap li{list-style-type:square;	padding-left:0px;padding-top:2px; color:#006699;}
.sitemap a{color:#3399CC;text-decoration:none;}
.sitemap a:hover{text-decoration:underline;}

/**********AiHelp add by Lock*************/
#helpicon{
	font-family:Arial black, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #FF6600;
	display:block;
	cursor:pointer;
	margin:2px 4px 0px 0px;
}
.closebutton{
	border:0px;
	float:right;
	margin:0px 4px 0px 4px;
	position:relative;
}
.hint_body1 {
	background-color:#FFFFFF;
	color:#999999;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:8px;
	width:165px
}

.hint_body1 span{
	color:#666;
	font-weight:bold;
}

.hint_body2 {
	width:165px;
	padding:5px;
	color:#333333;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.hint_body2 span{
	color:#333;
	font-weight:bold;
}

.hintstyle{
	color: #FFFF99;
	text-decoration:none;
	border-bottom:1px dashed #069;
	cursor:help;
}
.hintstyle:link{
	text-decoration:none;
	cursor:help;
	border-bottom:1px dashed #069;
}
.hintstyle:hover{
	color: #FFF;
	border-bottom:1px dashed #069;
	text-decoration:none;
	cursor:help;
}

.hintstyle2{
	color: #0066CC;
	text-decoration:none;
	border-bottom:1px dashed #069;
	cursor:help;
}
.hintstyle2:link{
	text-decoration:none;
	cursor:help;
	border-bottom:1px dashed #069;
}
.hintstyle2:hover{
	color: #FF6600;
	font-weight:bold;
	border-bottom:1px dashed #069;
	text-decoration:none;
	cursor:help;
}
/**************Add by kcol***************/

.bottom-image {margin:0 auto; width:983px; background:url(/images/bottom.gif); height:36px; }
.copyright {font-family :Verdana;font-size : 11px;text-align:right;color:#4b6688;padding-right:10px; margin:0 auto; width:983px;}

.popup_bg{
	position:absolute;
	margin: auto;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:99;
	background:url(/images/popup_bg2.gif);
	background-repeat: repeat;
	visibility:hidden;
	overflow:hidden;
}
.popup_bar_bg{
	position:absolute;
	margin: auto;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:99;
	background:url(/images/popup_bg2.gif);
	background-repeat: repeat;
	visibility:hidden;
	overflow:hidden;
}

.loadingBlock{
	margin-top:200px;
	width:400px;
	font-size:20px;
	color:#FFFFFF;
	font-weight:bolder;
	background-color:#006699;
	border:5px double #003366;
}

.dr_sweet_advise{
	margin-top:200px;
	width:500px;
	font-size:20px;
	color:#FFFFFF;
	background-color:#006699;
	border:5px double #003366;
	font-family:Arial, Helvetica, sans-serif;
}

.loadingBarBlock{
	margin-top:200px;
	width:300px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:#006699;
	border:3px double #003366;
}

.hackiframe   /* iframe for Hack IE 6.0 to avoid select menu over DIV layer. */
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

.dr{
	z-index:10;
	position: absolute;
	margin-top:0px;
	margin-left:0px;
	width:36px;
	height:36px;
	float:right;
	background: url(/images/drsurf.png) no-repeat;
}
.dr a:link{ cursor:pointer; }
.dr a:hover{ cursor:pointer; }

.drsword{
	z-index:10;
	position: absolute;
	margin-top:0px;
	margin-left:-158px;
	background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	width:130px;
	border:1px solid #999;
	padding:5px;
	visibility:hidden;
}
.wordarrow{
	z-index:10;
	position: absolute;
	margin-top:10px;
	margin-left:-17px;
	width:19px;
	height:20px;
	visibility:hidden;
}

.statusframe{
	display:none;
	width: 180px;
	height:400px;
}

.top_ssid{
	background:transparent;
	border:0px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:190px;
}
.map_ssid{
	background:transparent;
	border:0px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:110px;
}
.time{
	border:0px solid #333;
	line-height:19px;
	height:19px;
}
