﻿/* CSS Document */
.diagnosebody{
	margin:5px auto 0px auto;	
	background-color:#8fb9cc;
}

.erTable thead{
	color:#FFFFFF;
	font-weight:bolder;
	font-size:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	line-height:25px;
}

.erTable th{
	font-weight:bolder;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:25px;
	text-align:left;
}
.erTable thead td{
	height:52px;
	background:url(/images/er_top.gif) 0px bottom no-repeat;
}

.Epagecontent{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px dashed #333;
	background-color:#FFF;
	width:90%;
	padding:5px;
	margin:2px 0px 10px 20px;
	line-height:20px;
}

.Epagetitle{
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	line-height:30px;
	color:#003399;
	margin:0px 0px 0px 20px;
}

.alertImg{
	position:absolute;
	z-index:600;
	margin:-20px 0px 0px 420px;
}

.sub_title{
	background-color:#255A96;
	font-size:13px;
	color:#FFFFFF;	
	letter-spacing:2px;
}

.description_down{
	width:90%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color:#666666;
	line-height:20px;	
}

.diagnose_suggest{
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	border-left: 2px solid #547487;
	background-color:#a7d2e2;
	padding:5px 5px 5px 15px;
	margin:0px 5px 5px 10px;
	line-height:20px;
}

.diagnose_suggest ul{
	padding:0px;
	margin:5px;
	list-style:outside;
	color: #006699;
}
.diagnose_suggest span{
	color: #333;
}

.diagnose_suggest2{
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	border-left:2px solid #006699;
	background-color:#a7d2e2;
	padding:5px 5px 5px 5px;
	margin:0px 5px 5px 10px;
	line-height:20px;
}

.diagnose_title{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	line-height:30px;
	color:#333333;
	margin-left:5px;
}

.er_title{
	background:url(/images/qis_title_bg.gif) no-repeat;
	font-weight:bolder;
	width:450px;
	height:30px;
	line-height:24px;
	margin:5px 0px 0px 20px;
}
.drImg{
	position:absolute;
	z-index:600;
	margin-left:380px;
	margin-top:-25px;
}
.drword{
	background-color:#FFFFFF;
	color:#006699;
	border:1px solid #999;
	margin-left:10px;
	margin-top:10px;
	text-align:left;
	padding:10px;
	width:390px;
	font-size:18px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	line-height:130%;
}
.drword span{
	font-size:15px;
	font-family:"Times New Roman", Times, serif;
	color:#FF6600;
}

.drword img{
	margin-right:10px;
	vertical-align:middle;	
}

.drword a{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
}

.Bar_container{ /* for loadingBar */
	width:85%;
	height:21px;
	border:2px inset #999;
	margin:0 auto;
	background-color:#FFFFFF;
	z-index:100;
}
#proceeding_img_text{
	position:absolute; z-index:101; font-size:11px; color:#000000; margin-left:110px; line-height:21px;
}
#proceeding_img{
 	height:21px;
	background:#C0D1D3 url(/images/proceeding_img.gif);
}

.modelName{
	color:#FFFFFF;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	border:0px solid #333;
	width:150px;
	position:absolute;
	height:20px;
	letter-spacing:1px;
}
