﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<title>ASUS <#Web_Title#> Wireless-N ADSL2/2+ Modem Router - Quickly Internet Setup</title>

<link rel="stylesheet" type="text/css" href="qis/qis_style.css">
<link rel="stylesheet" type="text/css" href="form_style.css">
<link rel="stylesheet" type="text/css" href="other.css">
<style type="text/css">
body {
	background-image: url(images/bg.gif);
}
</style>

<script type="text/JavaScript" src="/state.js"></script>
<script type="text/javascript" src="/popup.js"></script>
<script type="text/javascript" src="/detect.js"></script>
<script>

test_page = 1;
var reduced_internet_type = "disable";
var targeturl = "/index.htm";

var firmver = '<% nvram_get_x("", "firmver"); %>';
var isdirect2Internet = false;
var failed_connection_reason = "";
var showCase = '<% get_parameter("verify_flag"); %>';
var detect_status = "<% nvram_get_f("","det_status"); %>";
var ethwan = "<% nvram_get_x("Layer3Forwarding", "use_eth_wan"); %>";
var wan_proto = '<% nvram_get_x("Layer3Forwarding", "wan_proto"); %>';
var use3gwan = '<% nvram_get_x("General", "hsdpa_enable"); %>';
var failover_eth_wan = '<% nvram_get_x("Layer3Forwarding", "use_failover_eth_wan"); %>';
var failover_3g = '<% nvram_get_x("Layer3Forwarding", "failover_3g_enable"); %>';

function done_validating(action){
	//refreshpage();
}

function QIS_load_body(){
	hideLoading();
	with(document.redirectForm){ //For submit()
		if(showCase == "verify_QIS_setting") {
			action = "/qis/QIS_verify.htm";
			submit();
		}
		else { //Autodetecting
				if(ethwan != "0") //!= 0: Ethernet WAN Mode, 0: DSL WAN Mode
				{
					if (failover_eth_wan != "0")
					{
						action = "/qis/QIS_eth_wan_fo_mode.htm";
						check_pwd();
						submit();
					}
					else
					{
						action = "/qis/QIS_eth_wan_mode.htm";
						check_pwd();
						submit();
					}
				}
				else if(use3gwan != "0")
				{
					if (failover_3g != "0")
					{
						action = "/qis/QIS_3g_wan_fo_mode.htm";
						check_pwd();
						submit();
					}
					else
					{
						action = "/qis/QIS_3g_wan_mode.htm";
						check_pwd();
						submit();
					}
				}
				else
				{
					if ( (detect_status == "Detecting") || (detect_status == "wait") ||
					(detect_status == "initializing") ||(detect_status == "up") ) {
						action = "/qis/QIS_detect.htm";
						submit();
					}
					else if ( detect_status == "down") {
						action = "/qis/QIS_no_cable.htm";
						check_pwd();
						submit();
					}
					else if ( (detect_status == "pppoe") || (detect_status == "pppoa") ) { //1:PPPoE, 2:PPPoA
						action = "/qis/QIS_ppp_cfg.htm";
						check_pwd();
						submit();
					}
					else if ( detect_status == "dhcp") { //2:MER
						action = "/qis/QIS_mer_cfg.htm";
						check_pwd();
						submit();
					}
					else if ( detect_status == "Fail") {
						action = "/qis/QIS_manual_setting.htm"; //QIS_fail.htm
						check_pwd();
						submit();
					}
					else if ( detect_status == "ExistWAN") {
						action = "/qis/QIS_exist_wan.htm";
						check_pwd();
						submit();
					}
					else {
						action = "/qis/QIS_manual_setting.htm"; //QIS_fail.htm
						check_pwd();
						submit();
					}
				}
		}
	}
}

function check_pwd()
{
	if(<% is_default_password(); %>)
		document.redirectForm.action = "/qis/QIS_password.htm";
}

function set_internet_type_reducedmode(mode){
	reduced_internet_type = mode;
}

function get_internet_type_reducedmode(mode){
	return reduced_internet_type;
}

function set_next_step(topage){
	targeturl = topage;
}

function get_next_step(){
	return targeturl;
}

function set_failed_connection_reason(flag){
	failed_connection_reason = flag;
}

function get_failed_connection_reason(){
	return failed_connection_reason;
}

function gotoFinish(forward_page, page_flag){
	with(document.redirectForm){
		action = forward_page;
		target = "";
		flag.value = page_flag;

		submit();
	}
}
</script>
</head>

<body class="LevelQIS" onload="QIS_load_body();">
<noscript>
	<div class="popup_bg" style="display:block">
		<div style="margin:200px auto; width:300px; background-color:#006699; color:#FFFFFF; line-height:150%; border:3px solid #FFF; padding:5px;"><#not_support_script#></p></div>
	</div>
</noscript>

<div id="Loading" class="popup_bg">
	<table cellpadding="5" cellspacing="0" id="loadingBlock" class="loadingBlock" align="center">
		<tr>
			<td width="20%" height="80" align="center"><img src="/images/loading.gif"></td>
			<td><span id="proceeding_main_txt"><#Main_alert_proceeding_desc4#></span><span id="proceeding_txt" style="color:#FFFFCC;"></span></td>
		</tr>
	</table>
<!--[if lte IE 6.5]><iframe class="hackiframe"></iframe><![endif]-->
</div>

<div id="hiddenMask" class="popup_bg">
	<table cellpadding="5" cellspacing="0" id="dr_sweet_advise" class="dr_sweet_advise" align="center">
		<tr>
		<td>
			<div class="drword" id="drword"><#Main_alert_proceeding_desc4#> <#Main_alert_proceeding_desc1#>...
				<br/>
				<br/>
		    </div>
		  <div class="drImg"><img src="images/DrsurfImg.gif"></div>
			<div style="height:70px; "></div>
		</td>
		</tr>
	</table>
<!--[if lte IE 6.5]><iframe class="hackiframe"></iframe><![endif]-->
</div>

<!--For content in ifame-->
<table width="705"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
  	<td height="55"  colspan="3" valign="top" background="images/qis_title.gif"><div class="modelName" style="margin:28px 0px 0px 180px;"><#Web_Title#></div></td>
  </tr>
</table>
<table width="705"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="187" height="420" background="images/qis_banner.gif">&nbsp;</td>
    <td width="510" height="420" valign="top" >
      <iframe name="contentM" id="contentM" scrolling="no" width="100%" height="100%" frameborder="0"></iframe></td>
    <td width="8" height="380"valign="top" background="images/qis_right.gif" ></td>
  </tr>
	<tr>
		<td height="12" colspan="3" style="background: url('images/qis_bottom.gif') no-repeat">&nbsp;</td>
	</tr>
</table>
</div>

<form method="get" name="redirectForm" action="" target="contentM">
<input type="hidden" name="prev_page" value="">
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0" scrolling="no"></iframe>
</form>
<form method="post" name="titleForm" id="titleForm" action="" target="hidden_frame">
<input type="hidden" name="current_page" value="">
<input type="hidden" name="sid_list" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="preferred_lang" value="">
<input type="hidden" name="flag" value="">
</form>
</body>
</html>
