﻿<html>
<head>
<title>ASUS <#Web_Title#> Wireless-N ADSL2/2+ Modem Router</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<script type="text/javascript">
var next_page = '<% get_parameter("next_page"); %>';
var group_id = '<% get_parameter("group_id"); %>';

function done_validating(action){
	parent.done_validating(action, group_id);
}


function initial(){
//alert(" next page="+next_page);
		if (next_page=="Advanced_WAN_Content.asp")
		{
			document.form.action = next_page;
			document.form.submit();
		}
}
</script>
</head>

<body onload="initial();">
<form method="post" name="form" action="" target="">
</form>

<% update_variables(); %>
<% convert_asus_variables(); %>
<% asus_nvram_commit(); %>
<% notify_services(); %>

</body>
</html>
