﻿<html>
<head>
<title>ASUS <#Web_Title#> Wireless-N ADSL2/2+ Modem Router</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<script type="text/javascript">
var page_modified = 0;
var restart_time = 0;
var current_page = '<% get_parameter("current_page"); %>';
var next_page = '<% get_parameter("next_page"); %>';
var action_script = '<% get_parameter("action_script"); %>';
var group_id = '<% get_parameter("group_id"); %>';
var getflag = '<% get_parameter("flag"); %>';
var new_lan_ip = '<% get_parameter("lan_ipaddr"); %>';

function started_validating(){
}

function done_validating(action){
	parent.done_validating(action, group_id);
}

function started_committing(){
}

function done_committing(){
	page_modified = 1;
}

function no_changes_and_no_committing(){
}

function invalid_variable_value(variable, bad_value, message){
}

function restart_needed_time(second){
	restart_time = second;
}

function delay_redirect(next_url){
	document.redirectForm.action = next_url;
	document.redirectForm.target = "";
	document.redirectForm.submit();
}

function top_delay_redirect(next_url){
	document.redirectForm.action = next_url;
	document.redirectForm.target = "_parent";
	document.redirectForm.submit();
}

function initial(){
//alert("initial current page="+current_page+" next page="+next_page+" page modified="+page_modified+" restart_time="+ restart_time+" getflag="+ getflag);

	if(getflag == "set_language"){
		if(navigator.appName.indexOf("Microsoft") >= 0)
			parent.parent.location.reload();
		else{
			parent.parent.location.href = parent.parent.location.href;
		}
	}
	else if(next_page.indexOf("QIS_") >= 0){
		if(getflag.length > 0)
			document.redirectForm.flag.value = getflag;
		if(next_page == "/qis/QIS_internet_success.htm"
		|| next_page == "/qis/QIS_finish.htm"){
			;
		}
		else if(current_page == "QIS_ppp_cfg.htm") {
			parent.showLoading(restart_time);
			setTimeout("top_delay_redirect('/QIS_wizard.htm?verify_flag=verify_QIS_setting');", restart_time*1000);
		}
		else if(current_page == "QIS_mer_cfg.htm") {
			parent.showLoading(restart_time);
			setTimeout("top_delay_redirect('/QIS_wizard.htm?verify_flag=verify_QIS_setting');", restart_time*1000);
		}
		else if(current_page == "QIS_ppp_cfg_tmp.htm") {
			parent.showLoading(restart_time);
			setTimeout("top_delay_redirect('/QIS_wizard.htm?verify_flag=verify_QIS_setting');", restart_time*1000);
		}
		else if(current_page == "QIS_mer_cfg_tmp.htm") {
			parent.showLoading(restart_time);
			setTimeout("top_delay_redirect('/QIS_wizard.htm?verify_flag=verify_QIS_setting');", restart_time*1000);
		}
		else if(current_page == "QIS_ipoa_cfg_tmp.htm") {
			parent.showLoading(restart_time);
			setTimeout("top_delay_redirect('/QIS_wizard.htm?verify_flag=verify_QIS_setting');", restart_time*1000);
		}
		else if(current_page == "QIS_bridge_cfg_tmp.htm") {
			parent.showLoading(restart_time);
			setTimeout("top_delay_redirect('/QIS_wizard.htm?verify_flag=verify_QIS_setting');", restart_time*1000);
		}
		else if (current_page == "QIS_manual_setting.htm")
		{
			setTimeout("delay_redirect('"+next_page+"');", restart_time*1000);
		}
		else if (current_page == "QIS_password.htm")
		{
			setTimeout("top_delay_redirect('/QIS_wizard.htm');", 1);
		}
		else{
			if(getflag == "auto_way_static"){
				parent.showLoading(restart_time, "waiting");
				setTimeout("parent.parent.detectLANstatus('', 'detectWAN');", restart_time*1000);
				return;
			}

			parent.showLoading(restart_time, "waiting");
			if(parent.parent.isWLclient())
				setTimeout("parent.parent.detectLANstatus('"+next_page+"', '"+getflag+"');", restart_time*1000);
			else
				setTimeout("top_delay_redirect('"+next_page+"');", restart_time*1000);
		}
	}
	else if(page_modified == 1){
//alert("page_modified current page="+current_page+" next page='"+next_page+"' page modified! restart_time="+ restart_time);
		if(current_page.length > 0){
			if(current_page.indexOf("clients.asp") >= 0){
				parent.showLoading(restart_time, "waiting");
				document.redirectForm.flag.value = "Client";
				setTimeout("top_delay_redirect('/');", restart_time*1000);
			}
			else if(getflag == "nodetect"){ //Client list refresh time
				parent.showLoading(30, "waiting");
				setTimeout("top_delay_redirect('"+current_page+"');", 30*1000);
			}
			else if(current_page.indexOf("DSL_WAN_Content.asp") >= 0) {
				parent.showLoading(restart_time, "waiting");
				setTimeout("top_delay_redirect('/');", restart_time*1000);
      }
			else if(current_page.indexOf("Advanced_LAN_Content.asp") >= 0) { //IP Changed, force Logout user
				parent.showLoading(80, "waiting");
				setTimeout("top_delay_redirect('http://<% get_parameter("lan_ipaddr"); %>/Logout.asp');", 80*1000);
      }
			//else if(current_page.indexOf("Advanced_BasicFirewall_Content.asp") >= 0) {
			//	parent.showLoading(restart_time*2, "waiting"); //120 fix 200% issue
			//	setTimeout("top_delay_redirect('/as.asp');", restart_time*1000);
      //}
			//else if(current_page.indexOf("Advanced_URLFilter_Content.asp") >= 0) {
			//	parent.showLoading(restart_time*2, "waiting"); //120 fix 200% issue
			//	setTimeout("top_delay_redirect('/as.asp');", restart_time*1000);
      //}
			//else if(current_page.indexOf("Advanced_MACFilter_Content.asp") >= 0) {
			//	parent.showLoading(restart_time*2, "waiting"); //120 fix 200% issue
			//	setTimeout("top_delay_redirect('/as.asp');", restart_time*1000);
      //}
			//else if(current_page.indexOf("Advanced_Firewall_Content.asp") >= 0) {
			//	parent.showLoading(restart_time*2, "waiting"); //120 fix 200% issue
			//	setTimeout("top_delay_redirect('/as.asp');", restart_time*1000);
      //}
			//else if(current_page.indexOf("/device-map/clients.asp") >= 0) {
			//	parent.showLoading(restart_time, "waiting");
			//	setTimeout("top_delay_redirect('/');", restart_time*1000);
      //}
			else if(current_page.indexOf("Advanced_ADSL_Content.asp") >= 0) {
				parent.showLoading(60, "waiting");
				setTimeout("top_delay_redirect('/Advanced_ADSL_Content.asp');", 60*1000);
      }
			else{
				parent.showLoading(restart_time, "waiting");
				setTimeout("top_delay_redirect('"+current_page+"');", restart_time*1000);
				//setTimeout("parent.parent.detectLANstatus('"+current_page+"', '');", restart_time*1000);
			}
		}
		/*else if(next_page.indexOf("/") >= 0 ||
				    next_page.indexOf("gotoHomePage.htm") >= 0 ||
				    next_page.indexOf("as.asp") >= 0){

			if(parent.parent.isWLclient()){
				setTimeout("parent.parent.detectLANstatus('"+next_page+"', '"+getflag+"');", restart_time*1000);
			}
			else{
				setTimeout("top_delay_redirect('"+next_page+"');", restart_time*1000);
			}
		}
		else if(next_page.length > 0){
			if(parent.parent.isWLclient()){
				setTimeout("parent.parent.detectLANstatus('"+next_page+"', '"+getflag+"');", restart_time*1000);
			}
			else{
				setTimeout("delay_redirect('"+next_page+"');", restart_time*1000);
			}
		}//*/
	}
	else{
		if(current_page.length > 0){
//alert("page_modified: 0");
			if(current_page.indexOf("EZQoS.asp") >= 0) {
				parent.showLoading(40, "waiting");
				setTimeout("top_delay_redirect('/EZQoS.asp');", 40*1000);
			}
			else if(current_page.indexOf("Advanced_ADSL_Content.asp") >= 0) { //page_modified always == 0
				parent.showLoading(60, "waiting");
				setTimeout("top_delay_redirect('/Advanced_ADSL_Content.asp');", 60*1000);
      }
			else if(current_page.indexOf("Advanced_MACFilter_Content.asp") >= 0) { //page_modified always == 0
				parent.showLoading(restart_time, "waiting");
				setTimeout("top_delay_redirect('/Advanced_MACFilter_Content.asp');", restart_time*1000);
      }
			else if(current_page.indexOf("Advanced_Firewall_Content.asp") >= 0) {
				parent.showLoading(restart_time, "waiting");
				setTimeout("top_delay_redirect('/Advanced_Firewall_Content.asp');", restart_time*1000);
      }
			else if(current_page.indexOf("Advanced_URLFilter_Content.asp") >= 0) {
				parent.showLoading(restart_time, "waiting");
				setTimeout("top_delay_redirect('/Advanced_URLFilter_Content.asp');", restart_time*1000);
      }
			else if(current_page.indexOf("Advanced_BasicFirewall_Content.asp") >= 0) {
				parent.showLoading(restart_time, "waiting");
				setTimeout("top_delay_redirect('/Advanced_BasicFirewall_Content.asp');", restart_time*1000);
      }
			else
				setTimeout("top_delay_redirect('"+current_page+"');", restart_time*1000);
		}
		/*else if(next_page.indexOf("/") >= 0 ||
				next_page.indexOf("gotoHomePage.htm") >= 0 ||
				next_page.indexOf("as.asp") >= 0){
			setTimeout("top_delay_redirect('"+next_page+"');", restart_time*1000);
		}//*/
		else if(next_page.length > 0){
			setTimeout("delay_redirect('"+next_page+"');", restart_time*1000);
		}
	}
}
</script>
</head>

<body onload="initial();">
<form method="post" name="redirectForm" action="" target="">
<input type="hidden" name="flag" value="">
<input type="hidden" name="prev_page" value="">
<input type="hidden" name="next_page" value="">
</form>

<% update_variables(); %>
<% convert_asus_variables(); %>
<% asus_nvram_commit(); %>
<% notify_services(); %>

</body>
</html>
