﻿/* CSS Document */
.survey_main{
	width:100%;
	overflow:auto;
	overflow-x:hidden;
	height:350px;
	border:0px solid #333;
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
	background:#C0DAE4;
}
.survey_main .description_down{
	margin:10px auto;
	padding-left:5px;
	font-weight:bold;
	color:#000;
	line-height:24px;	
	border:1px inset #F4F4F4;
	background-color:#B4D1DE;
	width:95%;
}

.survey_main table{
	border-collapse:collapse;
	width:96%;
	margin:5px auto;
	border:1px solid #CCC;
	background: #FFF;
}
.survey_main thead th{
	background-color:#2C4F78;
	font-weight:500;
	text-align:right;
	font-size:10pt;
	color:#FFF;
	letter-spacing:0px;
	height:25px;
	font-weight:bold;
	border-right:1px solid #CCC;
	cursor:pointer;
  background-repeat: no-repeat;
  background-position: top right;
	padding:0px 12px 0px 3px;
  border-right: 1px solid #dad9c7;
	background-image: url(/images/survey/sort2.gif);
}
.survey_main thead th.header{
	background-color:#2C4F78;
  background-repeat: no-repeat; 
  background-position: top right;
	background-image: url(/images/survey/sort2.gif);
}

.survey_main thead th.headerSortUp {
  background-image: url(/images/survey/asc2.gif);
  background-color: #5390B6;
	border:1px inset #CCC;
}
.survey_main thead th.headerSortDown { 
  background-image: url(/images/survey/dsc2.gif); 
  background-color: #5390B6;
	border:1px inset #CCC;	
} 

.survey_main thead td{
	/*background-color:#7AA3BD;
	font-weight:500;
	text-align:right;
	font-size:10pt;
	color:#FFF;
	padding:4px;
	letter-spacing:0px;
	height:25px;
	font-weight:bold;*/
}

.survey_main tbody tr{
	background:#FFF;
}

.survey_main tbody th{
	border-bottom:1px solid #CCC;
	font-size:12px;
	height:27px;
	color:#333;
	text-align:left;
	font-weight:bold;
	padding-left:4px;
	font-family:Arial, Verdana;
	cursor:default;
}

.survey_main tbody td{
	border-right:0px solid #FFF;
	border-bottom:1px solid #CCC;
	font-size:9pt;
	height:27px;
	color:#666;
	text-align:right;
	padding-right:4px;
}

.survey_main tbody td.auth{
	font-size:10px;
	font-family:Arial,Verdana;
	color:#666;
}

/*.survey_main tbody tr:hover{
	background-color:#FFC;
}*/

.survey_main tbody td img{
	vertical-align:middle;
}

.survey_foot{
	width:492px;
	height:30px;
	background-color:#5F8ABC;/*1025*/
	text-align:right;
	position:absolute;
	top:410px;
	padding-top:8px;
	padding-right:18px;	
}
.survey_main tbody tr.TRover{
	background-color:#FFC;
}
.survey_main li{
	line-height:150%;
	margin:0px 20px 0px 20px;
	padding:5px 0px 5px 0px;
}
.TRout{
	background-color:#FFF;
}

.navtext {
	font-size:8pt; 
	border: 1px double #CCC;
	background-color: #FFC; 
	color: #003366;
	text-align:left;
	width:auto;
	padding:3px;
	line-height:150%;
}
.ssid{
	float:left;
	width:155px;
	border:0px solid #333;
	height:20px;
	line-height:20px;
	word-break:break-all;
	word-wrap:break-word;	
}

.connected {
	width:18px;
	height:18px;
	background: url(/images/survey/accepted_20.gif) no-repeat;
	float:left;
}

.star {
	width:18px;
	height:18px;
	/*position:absolute;
	margin-left:208px;*/
	border:0px solid #999;
	background: url(/images/survey/star.gif) no-repeat;
	float:left;
}
.blank_block{
	width:18px;
	height:18px;
	float:left;
}
.wl_mode {
	height:10px;
	/*position:absolute;
	margin-left:225px;*/
	margin-top:2px;	
	border:1px solid #F4F4F4;
	background: #0080C0;
	padding:1px;
	font-size:9px;
	font-weight:normal;
	color:#FFF;
	font-family:Verdana;
	line-height:9px;
	float:left;
}

.security {
	width:16px;
	height:16px;
	/*position:absolute;
	margin-left:25px;*/
	margin-top:2px;
	background: url(/images/survey/security.gif) no-repeat;
}

/*-----------Mask annd popup window start-----------------*/
.mask_bg2{
	position:absolute;	
	margin:0px;
	z-index:100;
	/*background-color: #FFF;*/
	background:#FFF;
	background-repeat: repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*IE8*/
	filter:alpha(opacity=60);  /*IE5¡BIE5.5¡BIE6¡BIE7*/
	opacity: .6;  /*Opera9.0+¡BFirefox1.5+¡BSafari¡BChrome*/
	display:none;
	/*visibility:hidden;*/
	overflow:hidden;
	top:0;
	left:0;
	width:100%;
	height:500px;
	border:0px solid #333;
}
.content_mask{
	position:absolute;
	margin:0px;
	z-index:101;
	/*background-color: #FFF;*/
	background:#FFF;
	background-repeat: repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*IE8*/
	filter:alpha(opacity=60);  /*IE5¡BIE5.5¡BIE6¡BIE7*/
	opacity: .6;  /*Opera9.0+¡BFirefox1.5+¡BSafari¡BChrome*/
	display:block;
	/*visibility:hidden;*/
	overflow:hidden;
	width:510px;
	height:350px;
	border:0px solid #333;
}
.LoadingBox_mask{
	margin:0;
	width:510px;
	height:380px;
	position:absolute;
	z-index:206;
	display:block;
	border:0px solid #333;
	background:transparent;
	overflow:hidden;
}
.SearchingBox_mask #LoadingBox{
	background:#EEE;
	border:2px double #3C6B9F;
	z-index:206;
	display:block;
	margin:70px auto;
	font-size:12px;
	font-family:Verdana, Arial;
	max-width:250px;
}
.SearchingBox_mask{
	margin:0;
	width:510px;
	height:380px;
	position:absolute;
	z-index:206;
	display:block;
	border:0px solid #333;
	background:transparent;
	overflow:hidden;
}

.popup_table{
	font-family:Arial, Verdana;
	border-collapse:collapse;
	border:1px solid #3C6B9F;
	width:400px;
	display:none;
	margin:50px auto;
	font-size:10pt;
	z-index:999;
}
.popup_table thead td{
	background:url(/images/survey/popup_title_bg.gif) #3C6B9F;
	height:22px;
	width:400px;
	/*cursor:move;*/
}
.popup_table thead td h2{
	float:left;
	margin:2px 0px 0px 2px;
	width:200px;
	overflow:hidden;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	line-height:20px;
	height:20px;
}
.popup_table tbody th{
	padding:4px;
	text-align:right;
	background-color:#D9E1E6;
	font-weight:bold;
	width:30%;
}
.popup_table tbody td{
	padding:4px;
	text-align:left;
	background-color:#D9E1E6;
}

.popup_table tbody td img{
	float:left;
	margin-left:50px;
}

.popup_table tbody td fieldset{
	padding:10px 10px 3px 10px;
	text-align:center;
	background-color:#FFF;
}
.popup_table tfoot div{
	font-size:11px;
	color:#D90000;
	margin-top:0px;
	/*float:left;*/
	width:190px;
 	margin-left:10px;
 	text-align:center;
 	position:absolute;
 	font-family:Arial, Verdana;
}

.popup_table tfoot td{
	padding:0px 0px 35px 0px;
	background-color:#D9E1E6;
	width:400px;
}
.popup_table tfoot td input{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}

.input{
	vertical-align:middle;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px inset #999;
	padding:2px;
}
select{
	vertical-align:middle;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px inset #999;
}


.popup_close_x a:link, .popup_close_x a:visited{
	width:16px;
	height:16px;
	background:url(/images/survey/button-close.gif) 0px 0px no-repeat;
	float:right;
	cursor:pointer;
	margin-right:3px;
	margin-top:3px;
}
.popup_close_x a:hover{
	background:url(/images/survey/button-close1.gif) 0px 0px no-repeat;
}

.iptag{
	height:18px;
	background-color:#FFF;
	font-size:12px;
	font-family: Arial, Verdana;
	font-weight:bold;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*IE8*/
	filter:alpha(opacity=80);  /*IE5¡BIE5.5¡BIE6¡BIE7*/
	opacity: .8;  /*Opera9.0+¡BFirefox1.5+¡BSafari¡BChrome*/	
	position:absolute;
	border:1px solid #999;
	padding:0px 5px 0px 5px;
	line-height:18px;
	z-index:100;
}
/*-----------Mask annd popup window start-----------------*/