﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">

<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/js/ex_overlib.js"></script>
<script type="text/JavaScript" src="/general.js"></script>
<script type="text/JavaScript" src="/form.js"></script>
<script type="text/JavaScript" src="/alttxt.js"></script>
<script>

var prctl_str = "default";
var prctl_val = <% get_qis_var("tmp_prctl"); %>;
var iptv_port_val = <% nvram_get_x("","wan_stb_x"); %>;
var iptv_num_pvc_str = "";

if (prctl_val == 0)
{
	prctl_str = "PPPoE";
}
else if (prctl_val == 1)
{
	prctl_str = "PPPoA";
}

var iptv_lan_port_str = "IPTV port : ";
if (iptv_port_val == 0)
	iptv_lan_port_str = iptv_lan_port_str + "none";
else if (iptv_port_val == 5)
	iptv_lan_port_str = iptv_lan_port_str + "LAN3 & LAN4";
else
	iptv_lan_port_str = iptv_lan_port_str + "LAN" + (iptv_port_val);

var iptv_num_pvc_val = <% get_qis_var("tmp_iptv_num_pvc"); %>;
if (iptv_num_pvc_val > 0) iptv_num_pvc_str = "<b>"+iptv_num_pvc_val + " IPTV PVC(s).  </b><font color='#FF0000'>"+iptv_lan_port_str+"</font>";


function QKInternet_load_body(){
	parent.document.title = "ASUS <#Web_Title#> Wireless-N ADSL2/2+ Modem Router - <#QKSet_ISP_head#>";

	hideLinkTag();
	flash_button();

	get_value_from_parent();

	blocking("showip", true);

	blocking("dns_sec", true);
}

function get_value_from_parent(){
	// fullfill the field about IP
}



function validate_ip(){
	if(document.form.dsl_gateway.value == document.form.dsl_ipaddr.value){
		alert("<#IPConnection_warning_WANIPEQUALGatewayIP#>");
		return false;
	}
	return true;
}

function validate_dns(){
	return true;
}

function get_result_of_all_IP(){
	combineIP("dsl_ipaddr");
	combineIP("dsl_netmask");
	combineIP("dsl_gateway");
	combineIP("dsl_dns1_x");
	combineIP("dsl_dns2_x");
}

function remove_red_field(){
	$("dsl_ipaddr_div").style.border = "2px inset #F4F4F4";
	$("dsl_netmask_div").style.border = "2px inset #F4F4F4";
	$("dsl_gateway_div").style.border = "2px inset #F4F4F4";
	$("dsl_dns1_x_div").style.border = "2px inset #F4F4F4";
	$("dsl_dns2_x_div").style.border = "2px inset #F4F4F4";
}

function submitForm(){
	remove_red_field();
	get_result_of_all_IP();
	if(!validate_ip())
		return;
	if(!validate_dns())
		return;

		document.getElementById("dsl_DHCPClient_0").value = "0";
		document.getElementById("dsl_ipaddr_0").value = document.getElementById("dsl_ipaddr").value;
		document.getElementById("dsl_netmask_0").value = document.getElementById("dsl_netmask").value;
		document.getElementById("dsl_gateway_0").value = document.getElementById("dsl_gateway").value;
		//alert("dsl_DHCPClient_0: "+ document.getElementById("dsl_DHCPClient_0").value);
		//alert("dsl_ipaddr_0: "+ document.getElementById("dsl_ipaddr_0").value);
		//alert("dsl_netmask_0: "+ document.getElementById("dsl_netmask_0").value);
		//alert("dsl_gateway_0: "+ document.getElementById("dsl_gateway_0").value);

		document.getElementById("dsl_dnsenable_0").value = "0";
		document.getElementById("dsl_dns1_0").value = document.getElementById("dsl_dns1_x").value;
		document.getElementById("dsl_dns2_0").value = document.getElementById("dsl_dns2_x").value;
		//alert("dsl_dnsenable_0: "+ document.getElementById("dsl_dnsenable_0").value);
		//alert("dsl_dns1_0: "+ document.getElementById("dsl_dns1_0").value);
		//alert("dsl_dns2_0: "+ document.getElementById("dsl_dns2_0").value);

	parent.showLoading();

	document.form.action_mode.value = " Add ";
	document.form.action_mode_QIS.value = " Del ";
	$("x_Setting").disabled = false;
	document.form.x_Setting.value = '<% nvram_get_x("General", "x_Setting"); %>';
	document.form.verify_flag.value = "verify_QIS_setting";

	document.form.submit();
}
</script>
</head>

<body onLoad="QKInternet_load_body();" onunLoad="no_flash_button();">
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
<form method="get" name="form" action="/start_apply.htm">
<input name="productid" value="<#Web_Title#>" type="hidden">
<input name="support_cdma" value="" type="hidden">
<input type="hidden" name="prev_page" value="QIS_manual_setting.htm">
<input type="hidden" name="current_page" value="QIS_ipoa_cfg_tmp.htm">
<input type="hidden" name="next_page" value="/QIS_wizard.htm">
<input name="next_host" value="" type="hidden">
<!--<input type="hidden" name="sid_list" value="Layer3Forwarding;IPConnection;ATMConnection;">-->
<input name="sid_list" value="DSLWANConfig;" type="hidden">
<input name="group_id" value="DSLWANList" type="hidden">
<input name="modified" value="0" type="hidden">
<input name="action_mode" value="" type="hidden">
<input name="action_mode_QIS" value="" type="hidden">
<input type="hidden" name="verify_flag" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get_x("","preferred_lang"); %>">
<input name="dsl_mode_0" value="2" type="hidden">
<!-- WAN Setting variables  -->
<input type="hidden" name="x_Setting" id="x_Setting" value="" disabled>
<input type="hidden" name="dsl_vpi_0" value="<% get_qis_var("tmp_vpi"); %>">
<input type="hidden" name="dsl_vci_0" value="<% get_qis_var("tmp_vci"); %>">
<input type="hidden" name="dsl_proto_0" value="ipoa">
<input type="hidden" name="dsl_encap_0" value="<% get_qis_var("tmp_encap"); %>">
<input type="hidden" name="dsl_ifc_name_0" value="ipoa_<% get_qis_var("tmp_vpi"); %>_<% get_qis_var("tmp_vci"); %>">
<!--<input type="hidden" name="dsl_pppoe_idletime_0" value="0">
<input type="hidden" name="dsl_pppoe_mtu_0" value="1492">
<input type="hidden" name="dsl_pppoe_mru_0" value="1492">
<input type="hidden" name="dsl_pppoe_service_0" value="">
<input type="hidden" name="dsl_pppoe_ac_0" value="">
<input type="hidden" name="dsl_pppoe_options_0" value="">-->
<input type="hidden" name="dsl_DHCPClient_0" id="dsl_DHCPClient_0" value="">
<input type="hidden" name="dsl_ipaddr_0" id="dsl_ipaddr_0" value="">
<input type="hidden" name="dsl_netmask_0" id="dsl_netmask_0" value="">
<input type="hidden" name="dsl_gateway_0" id="dsl_gateway_0" value="">
<input type="hidden" name="dsl_dnsenable_0" id="dsl_dnsenable_0" value="">
<input type="hidden" name="dsl_dns1_0" id="dsl_dns1_0" value="">
<input type="hidden" name="dsl_dns2_0" id="dsl_dns2_0" value="">

<input type="hidden" name="dsl_svc_cat_0" value="0">
<input type="hidden" name="dsl_pcr_0" value="0">
<input type="hidden" name="dsl_scr_0" value="0">
<input type="hidden" name="dsl_mbs_0" value="0">
<div class="QISmain">
<div class="description_down">Static IP Setting</div>

<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
  <tr>
     &nbsp;&nbsp;&nbsp;<#pvccfg_PVC_type#> IPoA. <b>VPI/VCI = <% get_qis_var("tmp_vpi"); %>/<% get_qis_var("tmp_vci"); %></b><br>
     &nbsp;&nbsp;&nbsp;<script>document.write(iptv_num_pvc_str)</script>
     <br><br>
  </tr>
</table>

<div id="showip" style="display:none">
<fieldset>
<legend>
	<#Layer3Forwarding_x_UseStaticIP_itemname#>
</legend>
	<table id="tblsetting_2" class="QISform" width="400" border="0" align="center" cellpadding="3" cellspacing="0">
		<tr>
			<th  width="180" onmouseover="writetxt('<#IPConnection_ExternalIPAddress_itemdesc#>');" onmouseout="writetxt(0);">
				<#IPConnection_ExternalIPAddress_itemname#>
			</th>
			<td class="QISformtd">
				<input type="hidden" id="dsl_ipaddr" name="dsl_ipaddr" value="" maxlength="15" onkeypress="return is_ipaddr(this);" onkeyup="change_ipaddr(this);"  title="WAN IP">
				<div class="IPaddr" id="dsl_ipaddr_div">
					<input maxlength="3"
								 name="dsl_ipaddr1";
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
					<input maxlength="3"
								 id="dsl_ipaddr2"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
					<input maxlength="3"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
					<input maxlength="3"
								 name="dsl_ipaddr4";
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />
				</div>
			</td>
		</tr>

		<tr>
			<th width="180" onmouseover="writetxt('<#IPConnection_x_ExternalSubnetMask_itemdesc#>');" onmouseout="writetxt(0);">
				<#IPConnection_x_ExternalSubnetMask_itemname#>
			</th>
			<td class="QISformtd">
				<input type="hidden" id="dsl_netmask" name="dsl_netmask" value="" maxlength="15"  title="WAN Subnet Mask">
				<div class="IPaddr" id="dsl_netmask_div">
					<input maxlength="3"
								 name="dsl_netmask1"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
					<input maxlength="3"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
					<input maxlength="3"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
					<input maxlength="3" name="dsl_netmask4"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />
				</div>
			</td>
		</tr>

		<tr>
			<th onmouseover="writetxt('<#IPConnection_x_ExternalGateway_itemdesc#>');" onmouseout="writetxt(0);">
				<#IPConnection_x_ExternalGateway_itemname#>
			</th>
			<td class="QISformtd">
				<input type="hidden" id="dsl_gateway" name="dsl_gateway" value="" maxlength="15" onkeypress="return is_ipaddr(this);" onkeyup="return change_ipaddr(this);" class="input">
				<div class="IPaddr" id="dsl_gateway_div">
					<input maxlength="3"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
					<input maxlength="3"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
					<input maxlength="3"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
					<input maxlength="3" name="dsl_gateway4"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />
				</div>
			</td>
		</tr>
	</table>
</fieldset>
</div>

<div id="dns_sec" style="display:none">
  <fieldset>
  <legend>
	  <span id="dns_info_title"><#qis_dns#>:</span>
  </legend>
  <table id="tblsetting_4" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
  <tr>
	  <th width="180" onmouseover="writetxt('<#IPConnection_x_DNSServer1_itemdesc#>');" onmouseout="writetxt(0);">
	  	<#IPConnection_x_DNSServer1_itemname#>
	  </th>
	  <td class="QISformtd">
			<input type="hidden" id="dsl_dns1_x" name="dsl_dns1_x" value="" onkeypress="return is_ipaddr(this);" onkeyup="return change_ipaddr(this);" maxlength="15">
			<div class="IPaddr" id="dsl_dns1_x_div">
				<input maxlength="3"
							 name="dsl_dns1_x1"
							 onkeypress="return checkIP(this,event);"
                onkeyup="return checkWord(this,event);"
                onblur="validateIP(this);"
                onpaste="return   !clipboardData.getData('text').match(/\D/)"
                ondragenter="return false"
                autocomplete="off" />.
				<input maxlength="3"
							 onkeypress="return checkIP(this,event);"
                onkeyup="return checkWord(this,event);"
                onblur="validateIP(this);"
                onpaste="return   !clipboardData.getData('text').match(/\D/)"
                ondragenter="return false"
                autocomplete="off" />.
				<input maxlength="3"
							 onkeypress="return checkIP(this,event);"
                onkeyup="return checkWord(this,event);"
                onblur="validateIP(this);"
                onpaste="return   !clipboardData.getData('text').match(/\D/)"
                ondragenter="return false"
                autocomplete="off" />.
				<input maxlength="3" name="dsl_dns1_x4"
							 onkeypress="return checkIP(this,event);"
                onkeyup="return checkWord(this,event);"
                onblur="validateIP(this);"
                onpaste="return   !clipboardData.getData('text').match(/\D/)"
                ondragenter="return false"
                autocomplete="off" />
			</div>
	  </td>
	</tr>

	<tr>
	  <th width="180" onmouseover="writetxt('<#IPConnection_x_DNSServer2_itemdesc#>');" onmouseout="writetxt(0);">
	  	<#IPConnection_x_DNSServer2_itemname#>
	  </th>
	  <td class="QISformtd">
			<input type="hidden" id="dsl_dns2_x" name="dsl_dns2_x" value="" maxlength="15" onkeypress="return is_ipaddr(this);" onkeyup="return change_ipaddr(this);">
			<div class="IPaddr" id="dsl_dns2_x_div">
				<input maxlength="3"
							 onkeypress="return checkIP(this,event);"
                onkeyup="return checkWord(this,event);"
                onblur="validateIP(this);"
                onpaste="return   !clipboardData.getData('text').match(/\D/)"
                ondragenter="return false"
                autocomplete="off" />.
				<input maxlength="3"
							 onkeypress="return checkIP(this,event);"
               onkeyup="return checkWord(this,event);"
               onblur="validateIP(this);"
               onpaste="return   !clipboardData.getData('text').match(/\D/)"
               ondragenter="return false"
               autocomplete="off" />.
				<input maxlength="3"
							 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />.
				<input maxlength="3" name="dsl_dns2_x4"
								 onkeypress="return checkIP(this,event);"
                 onkeyup="return checkWord(this,event);"
                 onblur="validateIP(this);"
                 onpaste="return   !clipboardData.getData('text').match(/\D/)"
                 ondragenter="return false"
                 autocomplete="off" />
				</div>
	  </td>
	</tr>
  </table>
  </fieldset>
</div>
</div>

<div class='QISfoot'>
  <input type='button' id="prevButton" value="<#Manual_Setting_btn#>" onclick="gotoprev(document.form);" class="sbtn" width="70" align="center">
  <input type='button' id="nextButton" value="<#CTL_apply#>" onclick="submitForm();" class="sbtn" width="70" align="center">
</div>
<script>
var DSLWANList = [<%get_DSL_WAN_list("DSLWANConfig", "DSLWANList");%>];
for(var i = 0; i < DSLWANList.length; i++){
	document.writeln("<input type='hidden' name='DSLWANList_s' value=\'"+ i +"\'><br>");
}
</script>
</form>
</body>
</html>
