﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">

<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/form.js"></script>
<script>
function gotoMainPage(){
	parent.location.href = "/index.asp"
}

function config_eth_wan(){
	parent.location.href = "/Advanced_Eth_WAN_Content.asp"
}

function config_dsl_wan(){
	parent.location.href = "/Advanced_WAN_Content.asp"
}
</script>
</head>

<body>
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
<form method="get" name="form" action="/start_apply.htm">
<input type="hidden" name="prev_page" value="QIS_wizard.htm">
<input type="hidden" name="current_page" value="QIS_no_cable.htm">
<input type="hidden" name="next_page" value="QIS_manual_setting.htm">
<input type="hidden" name="det_status" value="">
<input type="hidden" name="sid_list" value="Layer3Forwarding;IPConnection;ATMConnection;">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get_x("","preferred_lang"); %>">

<div class="QISmain">

<div class="description_down"><#primary_wan#>&nbsp;:&nbsp;DSL WAN</div>
<br><br>
<table class="QISform" width="400" border="0" align="center" cellpadding="3" cellspacing="0">
  <tr>
    <td class="QISformtd"><#QIS_dsl_WAN_desc#><br><br><input type='button' class="sbtn" value="<#config_dsl_wan_btn#>" onclick="config_dsl_wan();">
   	</td>
  </tr>
</table>
<br><br><br><br>
<div class="description_down"><#backup_wan#>&nbsp;:&nbsp;Ethernet WAN</div>
<br><br>
<table class="QISform" width="400" border="0" align="center" cellpadding="3" cellspacing="0">
  <tr>
    <td class="QISformtd"><#QIS_ethernet_WAN_desc#><br><br><input type='button' class="sbtn" value="<#config_eth_wan_btn#>" onclick="config_eth_wan();">
   	</td>
  </tr>
</table>
<div class='QISfoot'>
  <input type='button' class="sbtn" value="<#CTL_Setting#>" onclick="gotoMainPage();">
</div>
</form>
</body>
</html>
