﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link type="text/css" rel="stylesheet" href="/qis/qis_style.css">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<style>
.test_css{
	padding-left:10px;
	font-size:13px;
	font-weight:bolder;
	color: #003399;
	background-color:#C0DAE4;
}
</style>

<script type="text/JavaScript" src="/state.js"></script>
<script type="text/javascript" src="/js/ex_overlib.js"></script>
<script type="text/javascript">

var det_status = '<% nvram_get_f("","det_status"); %>';

function QKDetect_load_body(){
	parent.document.title = "ASUS <#Web_Title#> Wireless-N ADSL2/2+ Modem Router - <#QKSet_detect_sanglass#>";
	hideLinkTag();
	flash_button();

	if(det_status == "redetect")
		$("DETECT_TITLE").innerHTML = "<#QKSet_detect_desc2#>";
	else
		$("DETECT_TITLE").innerHTML = "<#QKSet_detect_desc1#>";
	$("DETECT_TITLE").style.visibility = "visible";

	setTimeout("getWANStatus();", 1);
}

function set_changed_status( get_det_status ){
	this.det_status = get_det_status;
}

function getWANStatus(){
	document.detectForm.action = "/result_of_get_changed_status_QIS.asp";
	document.detectForm.target = "detect_frame";

	document.detectForm.submit();
}

function gotoPage(destURL){
	with(document.redirectForm){
		action = destURL;
		submit();
	}
}

function check_changed_status(){
	if(this.det_status == 'Detecting'){
		blocking('waitarea', true);
		blocking('LinkDown', false);
		blocking('CheckLink', false);
		blocking('Detecting', true);
		blocking('DetectFail', false);
	}
	else if(this.det_status == 'Fail'){
		blocking('waitarea', false);
		blocking('LinkDown', false);
		blocking('CheckLink', false);
		blocking('Detecting', false);
		blocking('DetectFail', true);
		return;
	}
	else if(this.det_status == 'down'){
		blocking('waitarea', false);
		blocking('LinkDown', true);
		blocking('CheckLink', false);
		blocking('Detecting', false);
		blocking('DetectFail', false);
	}
	else if(this.det_status == 'initializing'||this.det_status == 'wait'){
		blocking('waitarea', true);
		blocking('LinkDown', false);
		blocking('CheckLink', true);
		blocking('Detecting', false);
		blocking('DetectFail', false);
	}
	else if( (this.det_status == 'pppoe')||(this.det_status == 'pppoa') ){
		parent.location = "/QIS_wizard.htm";
	}
	else if(this.det_status == 'dhcp'){
		parent.location = "/QIS_wizard.htm";
	}

	setTimeout("getWANStatus();", 1000);
}

function submitForm(){
	with(document.detectForm){
		action = "/start_apply.htm";
		target = "";

		next_page.value = "/QIS_wizard.htm";
		sid_list.value = "Layer3Forwarding;";
		det_status.value = "redetect";

		action_mode.value = " Apply ";
		wan_proto.value = "dhcp";

		submit();
	}
}</script>
</head>

<body onLoad="QKDetect_load_body();" onunload="no_flash_button();">
<iframe name="detect_frame" id="detect_frame" src="" width=0 height=0 frameborder=0></iframe>

<form method="get" name="detectForm" action="/result_of_get_changed_status_QIS.asp" target="">
<input type="hidden" name="prev_page" value="QIS_detect.htm">
<input type="hidden" name="current_page" value="/qis/QIS_detect.htm">
<input type="hidden" name="next_page" value="QIS_manual_setting.htm">
<input type="hidden" name="flag" value="verify_detect">
<input type="hidden" name="sid_list" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="preferred_lang" value="">

<input type="hidden" name="x_Setting" id="x_Setting" value="" disabled>

<div class="QISmain">
  <div id='waitarea'>
  <div class="description_down" id="DETECT_TITLE" style="visibility:hidden;"></div>
  <br><br>
    <table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr>
		<td align="right">
			<img src="/images/InternetScan.gif"></span>
		</td>
		<td class="test_css">
			<strong><span><#QIS_detect_desc3#></span></strong><br>
		</td>
	  </tr>
    </table>
  </div>

  <div id='LinkDown' style='display:none'>
   <div class="description_down"><#QIS_detect_desc4#></div>
    <table id="tblsetting_3" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr>
    	<td align="center">
    	  <img src="/images/WANunplug.gif" width="320" height="220" style="border:3px double #666;" />
		</td>
	  </tr>
	</table>
  </div>

  <div id='CheckLink' style='display:none'>
    <table id="tblsetting_2" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr Height="50"><td></td></tr>
	  <tr><td class="description_down"><#QIS_detect_desc5#> </td></tr>
	</table>
  </div>

  <div id='Detecting' style='display:none'>
    <table id="tblsetting_2" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr Height="50"><td></td></tr>
<!--
<tr><td class="description_down"><#QIS_detect_desc6#><br>    <b><% get_qis_var("det_num_curr"); %> / <% get_qis_var("det_num_total"); %></b></td></tr>
-->
			<tr><td class="description_down"><#QIS_detect_desc6#></td></tr>
	</table>
  </div>

  <div id='DetectFail' style='display:none'>
    <table id="tblsetting_2" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
	  <tr Height="50"><td></td></tr>
	  <tr><td class="description_down"><#QIS_detect_desc7#></td></tr>
	</table>
  </div>
</div>

<div id="skiparea"  class="QISfoot">
  <input type="button" class="button" width="72"  onclick="parent.location.href='/';" value="<#CTL_Setting#>">
  <input type="button" class="sbtn" onclick="gotonext(document.detectForm);" value="<#QKSet_detect_skipbtn#>">
</div>

</form>

<form method="get" name="redirectForm" action="">
<input type="hidden" name="flag" value="">
</form>
</body>
