﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">

<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/js/ex_overlib.js"></script>
<script type="text/JavaScript" src="/general.js"></script>
<script type="text/JavaScript" src="/form.js"></script>
<script>

function QK_ip_load_body(){
	parent.document.title = "ASUS <#Web_Title#> Wireless-N ADSL2/2+ Modem Router - <#QKSet_ISP_head#>";
	hideLinkTag();
	flash_button();
	$('vpi').innerHTML = document.form.dsl_vpi_0.value;
	$('vci').innerHTML = document.form.dsl_vci_0.value;
}

function submitForm(){
	parent.showLoading();
   	//setTimeout("parent.location.href='/QIS_wizard.htm?verify_flag=verify_QIS_setting';", 60000);

	$("x_Setting").disabled = false;
	document.form.x_Setting.value = '<% nvram_get_x("General", "x_Setting"); %>';
	document.form.verify_flag.value = "verify_QIS_setting";
	document.form.next_page.value = "/QIS_wizard.htm";
	document.form.action_mode.value = " Add ";
	document.form.action_mode_QIS.value = " Del ";

	document.form.submit();
}
</script>
</head>

<body onLoad="QK_ip_load_body();" onunLoad="no_flash_button();">
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
<form method="get" name="form" action="/start_apply.htm">
<input name="productid" value="<#Web_Title#>" type="hidden">
<input name="support_cdma" value="" type="hidden">
<input type="hidden" name="prev_page" value="QIS_manual_setting.htm">
<input type="hidden" name="current_page" value="QIS_mer_cfg.htm">
<input type="hidden" name="next_page" value="/QIS_wizard.htm">
<input name="next_host" value="" type="hidden">
<!--<input type="hidden" name="sid_list" value="Layer3Forwarding;IPConnection;ATMConnection;">-->
<input name="sid_list" value="DSLWANConfig;" type="hidden">
<input name="group_id" value="DSLWANList" type="hidden">
<input name="modified" value="0" type="hidden">
<input name="action_mode" value="" type="hidden">
<input name="action_mode_QIS" value="" type="hidden">
<input type="hidden" name="verify_flag" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get_x("","preferred_lang"); %>">
<input name="dsl_mode_0" value="0" type="hidden">
<!-- WAN Setting variables  -->
<input type="hidden" name="x_Setting" id="x_Setting" value="" disabled>
<input type="hidden" name="dsl_vpi_0" value="<% nvram_get_f("","det_vpi"); %>">
<input type="hidden" name="dsl_vci_0" value="<% nvram_get_f("","det_vci"); %>">
<input type="hidden" name="dsl_proto_0" value="mer">
<input type="hidden" name="dsl_encap_0" value="<% nvram_get_f("","det_encap"); %>">
<input type="hidden" name="dsl_ifc_name_0" value="mer_<% nvram_get_f("","det_vpi"); %>_<% nvram_get_f("","det_vci"); %>">
<!--<input type="hidden" name="dsl_pppoe_idletime_0" value="0">
<input type="hidden" name="dsl_pppoe_mtu_0" value="1492">
<input type="hidden" name="dsl_pppoe_mru_0" value="1492">
<input type="hidden" name="dsl_pppoe_service_0" value="">
<input type="hidden" name="dsl_pppoe_ac_0" value="">
<input type="hidden" name="dsl_pppoe_options_0" value="">-->
<input type="hidden" name="dsl_DHCPClient_0" value="1">
<input type="hidden" name="dsl_ipaddr_0" value="">
<input type="hidden" name="dsl_netmask_0" value="">
<input type="hidden" name="dsl_gateway_0" value="">
<input type="hidden" name="dsl_dnsenable_0" value="1">
<input type="hidden" name="dsl_dns1_0" value="">
<input type="hidden" name="dsl_dns2_0" value="">

<input type="hidden" name="dsl_svc_cat_0" value="0">
<input type="hidden" name="dsl_pcr_0" value="0">
<input type="hidden" name="dsl_scr_0" value="0">
<input type="hidden" name="dsl_mbs_0" value="0">
<div class="QISmain">

<div class="description_down"><#MER_cfg_title#></div>
<br/><br/>
<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
  <tr>
     &nbsp;&nbsp;&nbsp;<#pvccfg_PVC_type#> MER. <b>VPI/VCI = <span id="vpi"></span>/<span id="vci"></span></b>
     <br><br>
  </tr>
</table>

<div class='QISfoot'>
  <input type='button' id="prevButton" value="<#Manual_Setting_btn#>" onclick="gotoprev(document.form);" class="sbtn" width="70" align="center">
  <input type='button' id="nextButton" value="<#CTL_apply#>" onclick="submitForm();" class="sbtn" width="70" align="center">
</div>
<script>
var DSLWANList = [<%get_DSL_WAN_list("DSLWANConfig", "DSLWANList");%>];
for(var i = 0; i < DSLWANList.length; i++){
	document.writeln("<input type='hidden' name='DSLWANList_s' value=\'"+ i +"\'><br>");
}
</script>
</form>
</body>
</html>
