﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="refresh" content="10">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="../form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">

<script type="text/JavaScript" src="/state.js"></script>
<script>
<% wanlink(); %>

var wan_status = '0'; //Don't check wan status at the moment
var flag = '<% get_parameter("flag"); %>';

//if(parent.get_failed_connection_reason().length > 0)
//	flag = parent.get_failed_connection_reason();

var orig_x_Setting = '<% nvram_get_x("General",  "x_Setting"); %>';

function QKfinish_load_body(){
	parent.document.title = "ASUS <#Web_Title#> Wireless-N ADSL2/2+ Modem Router";
	hideLinkTag();

	if(orig_x_Setting != "1")
		$("no_security_hint").style.display = "block";
	else
		$("no_security_hint").style.display = "none";

	$("fail_to_connect").style.display = "none";
	$("li_of_wireless").style.display = "";
	$("li_of_mainpage").style.display = "";

	if(check_wan_status(wanlink_statusstr()))
		$("succeed_to_connect").style.display = "";
	else
		$("succeed_to_connect").style.display = "none";

	showtext($("title_item"), "<#QKSet_finish_desc#>");
}

function check_wan_status(sts)
{
	if(sts == "Connected")
		return 1;
	else
		return 0;
}

function show_fail_response(){
	if(wan_status == 1){ //The telephone cable is not plugged in.
		showtext($("link_str"), "<#web_redirect_reason1#><BR>");
		showtext($("link_reason"), "<#web_redirect_suggestion1#>");
		$("Adv_setting").style.display = "";
	}
	else if(wan_status == 2){ // PPPoE or PPPoA authentication failed.
		showtext($("link_str"), "<#web_redirect_reason2_1#><BR>");
		showtext($("link_reason"), "<#QKSet_finish_moveto9#><a href='javascript:gotoAdvSetting();'><#QKSet_finish_moveto7#></a>:<#web_redirect_suggestion2_desc#>");
	}
	else if(wan_status == 3){ //PPP connection is down.
		showtext($("link_str"), "<#web_redirect_reason3#><BR>");
		showtext($("link_reason"), "<#QKSet_finish_moveto9#><a href='javascript:gotoAdvSetting();'><#QKSet_finish_moveto7#></a>:<#web_redirect_suggestion3_desc#>");
	}
	else if(wan_status == 4){ //getting an IP address from the DHCP server. Please wait...
		showtext($("link_str"), "<#web_redirect_reason4#><BR>");
		showtext($("link_reason"), "<#web_redirect_suggestion4#> <#web_redirect_suggestion4_desc#>");
		$("Adv_setting").style.display = "";
	}
	else if(wan_status == 5){ //failed to get an IP address from the DHCP server.
		showtext($("link_str"), "<#web_redirect_reason5#><BR>");
		showtext($("link_reason"), "<#web_redirect_suggestion5#>");
		$("Adv_setting").style.display = "";
	}
}

function gotoInternet(){
	if(navigator.appName.indexOf("Microsoft") >= 0)
		window.open("about:home");

	parent.location.href = "/gotoHomePage.htm";
}

function gotoASUS(){
        parent.location.href = "http://support.asus.com";
}

function gotoAdvSetting(){
	parent.location.href = "/Advanced_WAN_Content.asp"
}

function gotoMainPage(){
	parent.location.href = "/index.asp"
}

function gotoWireless(){
	parent.set_failed_connection_reason(flag);

	with(document.resultForm){
		action = "/qis/QIS_wireless.htm";
		target = "";

		$("flag").value = "";
		submit();
	}
}

function set_x_Setting(set, page){
	with(document.resultForm){
		action = "/start_apply.htm";
		target = "hidden_frame";

		current_page.value = page;
		next_page.value = page;
		action_mode.value = " Apply ";
		sid_list.value = "General;";
		$("x_Setting").disabled = false;
		x_Setting.value = set;

		$("flag").value = "";
		submit();
	}
}
</script>
</head>

<body onLoad="QKfinish_load_body();">
<div class="QISmain">
<div class="description_down" id="title_item"><#QKSet_finish_desc#></div>
<br><br>
<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
    <tr>
	<td>
	    <ol>
				<li id="fail_to_connect" style="display:none;">
					<span id="link_str"></span><span id="link_reason"></span>
				</li>
				<li id="succeed_to_connect" style="display:none;">
					<a href="javascript:gotoASUS();"><#QKSet_finish_moveto1#></a>
					<span id="no_security_hint" style="display:none;" class="hint_word"><#QKSet_finish_moveto3#></span>
				</li>
				<li id="li_of_wireless" style="display:none;">
					<a href="javascript:gotoWireless();"><#qis_simple_wls#><#qis_simple_wls_recmd#></a>
				</li>
				<li id="li_of_mainpage" style="display:none;">
					<a href="javascript:gotoMainPage();"><#CTL_Setting#></a>
				</li>
				<li id="Adv_setting" style="display:none;">
					<a href="javascript:gotoAdvSetting();"><#QKSet_finish_moveto7#></a> <#QKSet_finish_moveto8#>
				</li>
	    </ol>
	</td>
    </tr>
</table>
</div>

<br>
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<form method="get" name="resultForm" action="">
<input type="hidden" name="current_page" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="sid_list" value="">
<input type="hidden" name="x_Setting" id="x_Setting" value="" disabled>

<input type="hidden" name="flag" id="flag" value="">
</form>

<div class="QISfoot"></div>
</body>
