<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">

<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/general.js"></script>
<script type="text/JavaScript" src="/form.js"></script>
<script type="text/JavaScript" src="/detect.js"></script>
<script>
function initial(){
	document.form.http_passwd2.value = "";
}

function applyRule(){
	if(validForm()){
		if(document.form.http_passwd2.value.length > 0)
			document.form.http_passwd.value = document.form.http_passwd2.value;
		document.form.action_mode.value = " Apply ";

		document.form.submit();
	}
}

function validForm(){
	if(!validate_string(document.form.http_passwd2) || !validate_string(document.form.v_password2))
		return false;

	if(document.form.http_passwd2.value != document.form.v_password2.value){
		showtext($("alert_msg"),"*<#File_Pop_content_alert_desc7#>");
		document.form.http_passwd2.focus();
		document.form.http_passwd2.select();
		return false;
	}

	if(document.form.http_passwd2.value == "" || document.form.v_password2.value == "")
	{
		showtext($("alert_msg"),"*<#File_Pop_content_alert_desc6#>");
		return false;
	}

	if(document.form.http_passwd2.value == "admin")
	{
		showtext($("alert_msg"),"*Please don't assign the default password(admin).");
		return false;
	}

	//alert("<#File_Pop_content_alert_desc10#>");
	return true;
}

function done_validating(action){
	refreshpage();
}
</script>
</head>

<body onload="initial();" onunLoad="no_flash_button();">
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>

<form method="post" name="form" id="ruleForm" action="/start_apply.htm" target="hidden_frame">
<input name="productid" value="<#Web_Title#>" type="hidden">
<input type="hidden" name="prev_page" value="/QIS_wizard.htm">
<input type="hidden" name="current_page" value="QIS_password.htm">
<input type="hidden" name="next_page" value="/QIS_wizard.htm">
<input type="hidden" name="next_host" value="">
<input type="hidden" name="sid_list" value="LANHostConfig;General;">
<input type="hidden" name="group_id" value="">
<input type="hidden" name="modified" value="0">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="first_time" value="">
<input type="hidden" name="action_script" value=""> 
<input type="hidden" name="pwd_change" value="1">
<input type="hidden" name="preferred_lang" id="preferred_lang" value="<% nvram_get_x("LANGUAGE", "preferred_lang"); %>">
<input type="hidden" name="http_passwd" value="">
<div class="QISmain">
<div class="description_down"><#PASS_changepasswd#></div>
<br/><br/>
<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
  <tr>
     <td><br></td>
  </tr>
  <tr>
	<th width="120"><#PASS_new#></th>
	<td class="QISformtd">
	  <input type="password" name="http_passwd2" onKeyPress="return is_string(this);" class="input" size="19" maxlength="16" />
	</td>
  </tr>
  <tr>
	<th width="120"><#PASS_retype#></th>
	<td class="QISformtd">
	  <input type="password" name="v_password2" onKeyPress="return is_string(this);" class="input" size="19" maxlength="16" /><br/><span id="alert_msg"></span>
	</td>
  </tr>
</table>
</div>

<div class='QISfoot'>
  <!--<input type='button' id="prevButton" value="<#Manual_Setting_btn#>" onclick="gotoprev(document.form);" class="sbtn" width="70" align="center">-->
  <input type='button' id="nextButton" value="<#CTL_next#>" onclick="applyRule();" class="sbtn" width="70" align="center">
</div>
</form>
</body>
</html>
