﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">

<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/js/ex_overlib.js"></script>
<script type="text/JavaScript" src="/general.js"></script>
<script type="text/JavaScript" src="/form.js"></script>
<script type="text/JavaScript" src="/detect.js"></script>
<script>
var prctl_str = "default";
var prctl_val = <% get_qis_var("tmp_prctl"); %>;
var vpi_val = <% get_qis_var("tmp_vpi"); %>;
var vci_val = <% get_qis_var("tmp_vci"); %>;
var encap_val = <% get_qis_var("tmp_encap"); %>;
var ispname_str = "<% get_qis_var("tmp_ispname"); %>";
var country_str = "<% get_qis_var("tmp_country"); %>";
var iptv_port_val = <% nvram_get_x("","wan_stb_x"); %>;
var iptv_num_pvc_str = "";

if (prctl_val == 0)
{
	prctl_str = "PPPoE";
}
else if (prctl_val == 1)
{
	prctl_str = "PPPoA";
}

var iptv_lan_port_str = "IPTV port : ";
if (iptv_port_val == 0)
	iptv_lan_port_str = iptv_lan_port_str + "none";
else if (iptv_port_val == 5)
	iptv_lan_port_str = iptv_lan_port_str + "LAN3 & LAN4";
else
	iptv_lan_port_str = iptv_lan_port_str + "LAN" + (iptv_port_val);

var iptv_num_pvc_val = <% get_qis_var("tmp_iptv_num_pvc"); %>;
if (iptv_num_pvc_val > 0) iptv_num_pvc_str = "<b>"+iptv_num_pvc_val + " IPTV PVC(s).  </b><font color='#FF0000'>"+iptv_lan_port_str+"</font>";

function QKaccount_load_body(){
	parent.document.title = "ASUS <#Web_Title#> Wireless-N ADSL2/2+ Modem Router - <#QKSet_account_webtitle#>";
	hideLinkTag();
	flash_button();
	if (prctl_val == 0)
	{
		document.form.dsl_proto_0.value = "pppoe";
		document.form.dsl_mode_0.value = 0;
	}
	else if (prctl_val == 1)
	{
		document.form.dsl_proto_0.value = "pppoa";
		document.form.dsl_mode_0.value = 1;
	}

	//Brazil - GVT
	if (country_str == "Brazil")
	{
		if (prctl_val == 0 && vpi_val == 0 && vci_val == 35 && encap_val == 0 && ispname_str == "GVT")
		{
			document.form.prevButton.readonly = true;
			document.form.nextButton.readonly = true;
			document.form.dsl_pppoe_username_0.value = "turbonet@turbonet";
			document.form.dsl_pppoe_passwd_0.value = "gvt25";
			setTimeout("submitForm()",2000);
		}
		
		if (ispname_str == "Telefonica Speedy")
		{
			document.form.dsl_pppoe_mtu_0.value = "1480";
			document.form.dsl_pppoe_mru_0.value = "1480";			
		}
	}

	if (country_str == "India")	
	{
		if(ispname_str == "BSNL (PPPOE)" || ispname_str == "BSNL (PPPOA)" || ispname_str == "MTNL (PPPOE)" || ispname_str == "MTNL (PPPOA)")
		{
			document.form.dsl_pppoe_mtu_0.value = "1442";
			document.form.dsl_pppoe_mru_0.value = "1442";
		}
	}
	
	//Iran - ITC
	if (country_str == "Iran")	
	{
		if(ispname_str == "ITC")
		{
			document.form.dsl_pppoe_mtu_0.value = "1100";
			document.form.dsl_pppoe_mru_0.value = "1100";
		}
	}
}

function validForm(){
		if(!validate_string(document.form.dsl_pppoe_username_0)
		|| !validate_string(document.form.dsl_pppoe_passwd_0)
		) {
			alert("return false: "+document.form.dsl_pppoe_username_0.value+" "+document.form.dsl_pppoe_passwd_0.value);
			return false;
		}
	return true;
}

function submitForm(){
		if(document.form.dsl_pppoe_username_0.value == "" || document.form.dsl_pppoe_passwd_0.value == "")
		{
			alert("User Name/Password cannot be empty.");
			return false;
		}
		else
		{
	    if(validForm()){
				parent.showLoading();

				document.form.action_mode.value = " Add ";
				document.form.action_mode_QIS.value = " Del ";
				$("x_Setting").disabled = false;
				document.form.x_Setting.value = '<% nvram_get_x("General", "x_Setting"); %>';
				document.form.verify_flag.value = "verify_QIS_setting";

				document.form.submit();
	    }
	   }
}
</script>
</head>

<body onLoad="QKaccount_load_body();" onunLoad="no_flash_button();">
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
<form method="get" name="form" action="/start_apply.htm">
<input name="productid" value="<#Web_Title#>" type="hidden">
<input name="support_cdma" value="" type="hidden">
<input type="hidden" name="prev_page" value="QIS_manual_setting.htm">
<input type="hidden" name="current_page" value="QIS_ppp_cfg_tmp.htm">
<input type="hidden" name="next_page" value="/QIS_wizard.htm">
<input name="next_host" value="" type="hidden">
<input name="sid_list" value="DSLWANConfig;" type="hidden">
<input name="group_id" value="DSLWANList" type="hidden">
<input name="modified" value="0" type="hidden">
<input name="action_mode" value="" type="hidden">
<input name="action_mode_QIS" value="" type="hidden">
<input type="hidden" name="verify_flag" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get_x("","preferred_lang"); %>">
<input name="dsl_mode_0" value="0" type="hidden">
<!-- WAN Setting variables  -->
<input type="hidden" name="x_Setting" id="x_Setting" value="" disabled>
<input type="hidden" name="dsl_vpi_0" value="<% get_qis_var("tmp_vpi"); %>">
<input type="hidden" name="dsl_vci_0" value="<% get_qis_var("tmp_vci"); %>">
<input type="hidden" name="dsl_proto_0" value="">
<input type="hidden" name="dsl_encap_0" value="<% get_qis_var("tmp_encap"); %>">
<script>
if (prctl_val == 0)
	document.write('<input type="hidden" name="dsl_ifc_name_0" value="pppoe_<% get_qis_var("tmp_vpi"); %>_<% get_qis_var("tmp_vci"); %>">');
else if (prctl_val == 1)
	document.write('<input type="hidden" name="dsl_ifc_name_0" value="pppoa_<% get_qis_var("tmp_vpi"); %>_<% get_qis_var("tmp_vci"); %>">');
</script>
<input type="hidden" name="dsl_pppoe_dial_on_demand_0" value="0">
<input type="hidden" name="dsl_pppoe_idletime_0" value="0">
<input type="hidden" name="dsl_pppoe_mtu_0" value="1492">
<input type="hidden" name="dsl_pppoe_mru_0" value="1492">
<input type="hidden" name="dsl_pppoe_service_0" value="">
<input type="hidden" name="dsl_pppoe_options_0" value="">
<input type="hidden" name="dsl_DHCPClient_0" value="1">
<input type="hidden" name="dsl_ipaddr_0" value="">
<input type="hidden" name="dsl_netmask_0" value="">
<input type="hidden" name="dsl_gateway_0" value="">
<input type="hidden" name="dsl_dnsenable_0" value="1">
<input type="hidden" name="dsl_dns1_0" value="">
<input type="hidden" name="dsl_dns2_0" value="">

<input type="hidden" name="dsl_svc_cat_0" value="0">
<input type="hidden" name="dsl_pcr_0" value="0">
<input type="hidden" name="dsl_scr_0" value="0">
<input type="hidden" name="dsl_mbs_0" value="0">
<input type="hidden" name="dsl_pppoe_relay_0" value="0">

<div class="QISmain">
<div class="description_down"><#PPPConnection_UserName_sectionname#></div>
<br/><br/>
<table id="tblsetting_1" class="QISform" width="400" border=0 align="center" cellpadding="5" cellspacing="0">
  <tr>
     &nbsp;&nbsp;&nbsp;<#pvccfg_PVC_type#> <script>document.write(prctl_str)</script>. <b>VPI/VCI = <% get_qis_var("tmp_vpi"); %>/<% get_qis_var("tmp_vci"); %></b><br>
     &nbsp;&nbsp;&nbsp;<script>document.write(iptv_num_pvc_str)</script><br>
     &nbsp;&nbsp;&nbsp;<#PPP_cfg_usersel_desc#>
     <br><br>
  </tr>
  <tr>
	<th width="120"><#BOP_account_user_item#></th>
	<td class="QISformtd">
	  <input type="text" name="dsl_pppoe_username_0" value="" onkeypress="return is_string(this);" class="input" maxlength="64" size="36"/>
	</td>
  </tr>
  <tr>
	<th width="120" onmouseout="return nd();" onmouseover="return overlib('<#QKSet_account_passwd#>', LEFT);"><#BOP_account_pass_item#></th>
	<td class="QISformtd">
	  <input type="password" name="dsl_pppoe_passwd_0" value="" onkeypress="return is_string(this);" class="input" maxlength="32" size="36"/>
	</td>
  </tr>
</table>
</div>

<div class='QISfoot'>
  <input type='button' id="prevButton" value="<#Manual_Setting_btn#>" onclick="gotoprev(document.form);" class="sbtn" width="70" align="center">
  <input type='button' id="nextButton" value="<#CTL_apply#>" onclick="submitForm();" class="sbtn" width="70" align="center">
</div>
<script>
var DSLWANList = [<%get_DSL_WAN_list("DSLWANConfig", "DSLWANList");%>];
for(var i = 0; i < DSLWANList.length; i++){
	document.writeln("<input type='hidden' name='DSLWANList_s' value=\'"+ i +"\'><br>");
}
</script>
</form>
</body>
</html>
