﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="qis_style.css">

<script type="text/JavaScript" src="/state.js"></script>
<script type="text/JavaScript" src="/form.js"></script>
</head>

<body>
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
<form method="get" name="form" action="/start_apply.htm">
<input type="hidden" name="prev_page" value="QIS_wizard.htm">
<input type="hidden" name="current_page" value="QIS_fail.htm">
<input type="hidden" name="next_page" value="QIS_manual_setting.htm">
<input type="hidden" name="det_status" value="">
<input type="hidden" name="sid_list" value="Layer3Forwarding;IPConnection;ATMConnection;">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="preferred_lang" value="<% nvram_get_x("","preferred_lang"); %>">

<div class="QISmain">

<div class="description_down"><#QIS_Fail_title#></div>
<br><br>
<table class="QISform" width="400" border="0" align="center" cellpadding="3" cellspacing="0">
  <tr>
    <td class="QISformtd"><#QIS_Fail_desc#></td>
  </tr>
</table>
<div class='QISfoot'>
  <input type='button' class="sbtn" value="<#Manual_Setting_btn#>" onclick="gotonext(document.form);">
</div>

</form>
</body>
</html>
